@using Microsoft.AspNetCore.Identity
@{

    ViewData["Title"] = "Quản lý khóa học";
}
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<body>
    <div class="intro-web" style="padding-top: 10px">
        <h2 class="title-section">
            <img src="~/img/slogan.png">
        </h2>
        <div class="intro">
            <div class="intro-left col-6">
                <img src="https://codelearn.io/Themes/TheCodeCampPro/Resources/Images/landing-v2/chia-khoa-lap-trinh.png" class="future-img" alt="Giới thiệu sơ lược về DDG" />
            </div>

            <div class="intro-right ">
                <ul class="list-key-futures">
                    <li>
                        <div class="heading-key">
                            <h3><i class="fas fa-graduation-cap intro-icon"></i>  A place that radiates passion for learning</h3>
                        </div>

                        <p class="key-des">
                            This website is where we create useful lessons.
                            Here, you can freely create products based on the lessons.
                        </p>
                    </li>

                    <li>
                        <div class="heading-key">

                            <h3><i class="fas fa-laptop-code intro-icon"></i>  Career orientation</h3>
                        </div>

                        <p class="key-des">
                            Learning programming helps you gain the best knowledge to get acquainted with the world of technology,
                            Adapt to life in the 4.0 era.
                        </p>
                    </li>

                    <li>
                        <div class="heading-key">

                            <h3><i class="far fa-handshake intro-icon"></i>  Share programming experiences</h3>
                        </div>

                        <p class="key-des">
                            Programming skills tend to be more diverse to serve the development needs of all professions.
                            ItTkt accompanies you to share and enrich programming experience.
                        </p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="our-statistic">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="wrap-statistic-content">
                    <div class="statistic-number">
                        <span class="counter">5</span> +
                    </div>

                    <h3 class="statistic-title">Registered member</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="wrap-statistic-content">
                    <div class="statistic-number">
                        <span class="counter">15</span> +
                    </div>

                    <h3 class="statistic-title">Practice lessons</h3>
                </div>
            </div>


            <div class="col-xs-12 col-sm-4">
                <div class="wrap-statistic-content">
                    <div class="statistic-number">
                        <span class="counter">3</span> +
                    </div>

                    <h3 class="statistic-title">Support staff</h3>
                </div>
            </div>


        </div>

    </div>
    @*/*part 2*/*@
    <div class='roadmap-container'>
        <h2 class='roadmap-title'>Roadmap to become<br />Developer</h2>
        <div class='roadmap-row'>
            <div to='/' class='roadmap-step'>
                <div class='roadmap-step-img'>
                    <span class='roadmap-label-step'>1</span>
                    <img src='https://codelearn.io/Themes/TheCodeCampPro/Resources/Images/landing-v2/hoc-lap-trinh.png' alt='Learn to code' />
                </div>
                <h3 class='roadmap-step-title'>Learn to program</h3>
                <p class='roadmap-step-des'>Learn programming from basic to advanced through courses.</p>
            </div>

            <div to='/' class='roadmap-step'>
                <div class='roadmap-step-img'>
                    <span class='roadmap-label-step'>2</span>
                    <img src='https://codelearn.io/Themes/TheCodeCampPro/Resources/Images/landing-v2/luyen-lap-trinh.png' alt='Practice coding' />
                </div>
                <h3 class='roadmap-step-title'>Practice skills</h3>
                <p class='roadmap-step-des'>Practice programming every day with the practice section.</p>
            </div>

            <div to='/blogs' class='roadmap-step'>
                <div class='roadmap-step-img'>
                    <span class='roadmap-label-step'>3</span>
                    <img src='https://codelearn.io/Themes/TheCodeCampPro/Resources/Images/landing-v2/thi-lap-trinh.png' alt='Share' />
                </div>
                <h3 class='roadmap-step-title'>Find out more</h3>
                <p class='roadmap-step-des'>Learn programming skills through sharing from everyone.</p>
            </div>
        </div>
    </div>
    @**part 3**@
    <div id="Slider">
        <div class="Slider-title">
            <h2>What do students say about ItTkt?</h2>
        </div>
        <div class="Slider-main">
            <div class="Slide">
                <div class="Slider-item-avt">
                </div>
                <p class="Slider-item-name">Anh Thy</p>
                <p class="Slider-item-job">Student</p>
                <p class="Slider-item-think">"It's amazing!!!"</p>
            </div>
            <div class="Slide">
                <div class="Slider-item-avt">
                </div>
                <p class="Slider-item-name">Nhật Khánh</p>
                <p class="Slider-item-job">Student</p>
                <p class="Slider-item-think">"Above expectations!"</p>
            </div>
            <div class="Slide">
                <div class="Slider-item-avt">
                </div>
                <p class="Slider-item-name">Cẩm Tiên</p>
                <p class="Slider-item-job">Student</p>
                <p class="Slider-item-think">"Excellent!!!"</p>
            </div>
        </div>
    </div>
    @*banner*@
<div class="Banner">
    <div class="Banner-content">
        <p class="title">PASSIONATE REALISM <span>PROGRAMMING</span>!</p>
            <p class="content">Register an account and join today</p>
    </div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="Banner-button">
            <a class="Banner-btn" asp-area="Identity" asp-page="/Account/Register">Get started now!</a>
        </div>
    }
    else
    {
        <div class="Banner-button">
            <a class="Banner-btn" asp-controller="Courses" asp-action="DanhSachHienThi">Get started now!</a>
        </div>
    }

</div>
</body>

<script>
    const active_lienhe = document.querySelector('#navbar-trangchu')

    active_lienhe.classList.add('nav--active')
    /*document.querySelector('#active--khoahoc').classList.remove('active--css')*/
</script>
