@page 
@model Courses_MVC.Areas.Admin.Pages.Role.DeleteModel
@{
    ViewData["Title"] = "Xóa role";
}
<h2 class="text-center" style="padding-top:50px">DELETE ROLE</h2>
<partial name="_StatusMessage" model="@Model.StatusMassage" />

<hr />
<div class="row mt-3 mb-lg-5 offset-3">
    <div class="col-md-6" style="margin-bottom:180px">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h2>Are you sure to delete <strong>@Model.role.Name</strong>?</h2>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-danger" />
                <a class="btn btn-primary" asp-page="./Index">Back</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
