@{
}
<nav style="width:285px; height:700px">
    <ul class="nav-links__ul" style="font-size: 15px">
        <li class="nav-links__li" style="line-height: 62px">
            <a asp-controller="Courses" asp-action="listCourseAdmin" class=" nav-links__a " id="active--khoahoc">
                <i class="fab fa-cuttlefish"></i>  Course Management
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">

            <a asp-controller="Lesson" asp-action="ListlessonAdmin" class=" nav-links__a" id="active--baihoc">
                <i class="fas fa-book"></i>  Lesson Management
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">

            <a asp-controller="Exercises" asp-action="ListExerciseAdmin" class=" nav-links__a" id="active--baitap">
                <i class="fab fa-leanpub"></i> Assignment Management
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">

            <a asp-controller="Contacts" asp-action="Index" class=" nav-links__a" id="active--lienhe">
                <i class="fas fa-file-signature"></i>  Contact Management
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">
            <a asp-controller="Comments" asp-action="DanhSachBinhLuan" class=" nav-links__a " id="active--binhluan">
                <i class="fas fa-comments"></i>  Comment Management
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">

            <a asp-controller="Register" asp-action="DanhSachDangKi" class=" nav-links__a " id="active--dangki">
                <i class="fas fa-user-tie"></i>  Registered Course
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">
            <a asp-controller="Receipts" asp-action="DanhSachHoaDon" class=" nav-links__a " id="active--hoadon">
                <i class="fas fa-file-invoice-dollar"></i>  Bill Management
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">
            <a asp-controller="Topic" asp-action="DanhSachTopic" class=" nav-links__a " id="active--chude">
                <i class="fas fa-pencil-ruler"></i>  Topic Management
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">
            <a asp-controller="ExerciseInUsers" asp-action="DanhSachBTUser" class=" nav-links__a " id="active--SV_BT">
                <i class="fas fa-user-edit"></i>  Students - Exercises
            </a>
        </li>
        <li class="nav-links__li" style="line-height: 62px">
            <a asp-controller="Discount" asp-action="DanhSachGiamGia" class=" nav-links__a " id="active--giamgia">
                <i class="fas fa-percent"></i>  Discount Management
            </a>
        </li>
    </ul>
</nav>
